# node modules
node_modules/

# environment variables
.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor folders
.vscode/
.idea/

# coverage
coverage/
